<!DOCTYPE html>
<html>
<head>
<title>Linkeye Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Kipy Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="stylesheets/login.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<h1>Linkeye Star</h1>
	<div class="login-form" ng-app="appIndex" ng-controller="appIndexCtrl">
		<!-- <h2>User Login</h2> -->
			<div class="form-info">
					<form>
							<input type="text" class="email" placeholder="Mobile" required="" ng-model="mobile"/>
							<input type="password" class="password" placeholder="Password" required="" ng-model="password"/>
							<!-- <p><a href="#">Forgot password?</a></p> -->
						<ul class="login-buttons">
							<li><input type="submit" ng-click="login()" value="LOGIN"/></li>
							<!-- <li><a href="#" class="hvr-sweep-to-left">REGISTER</a></li> -->
							<div class="clear"> </div>
						</ul>
					</form>
			</div>
	</div>
<!--copyrights-->
<div class="copyrights">
	<p><a href="http://www.linkeye.com"> Linkeye </a></p>
</div>
<!--/copyrights-->
<script src="angular/angular.min.js"></script>
<script src="javascripts/controller/login.js"></script>
</body>
</html>
