<!DOCTYPE html>
<html>

<head>
  <title>DashBoard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="angular/angular.min.js"></script>
  <script src="layui-laydate/dist/laydate.js"></script>
  <!-- ECharts单文件引入 -->
  <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
  <script src="javascripts/controller/dashboard.js"></script>
</head>

<body>

  <div ng-app="appDashboard" ng-controller="appDashboardCtrl">
    <h2>DashBoard</h2>
    <!-- <ul>
      <li ng-repeat="discount in discounts">
          <span ng-bind="discount.discountName" />
      </li>
    </ul> -->
    <br>
    <input type="text" id="dateRange" size="50"/>
    <button type="submit" class="btn btn-success" ng-click="submit()">查询</button>
  </div>

  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="height:400px"></div>

</body>

</html>
